[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-nested-routers = "*"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pandas = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
